
logs



# Artifacts
Artifact/
artifacts/

test_mongodb.py 

# Bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
./venvco

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# MLflow
mlflow.db
mlruns/


# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

